---
import Layout from "../layouts/Layout.astro";
import {es} from "../langs/es.ts";
import {config} from "../config/config.ts";
import Hero from "../components/landing/Hero.astro";
import Section1 from "../components/landing/Section1.astro";
import Section2 from "../components/landing/Section2.astro";
import Section3 from "../components/landing/Section3.astro";
import Section4 from "../components/landing/Section4.astro";
import Numbers from "../components/landing/Numbers.astro";

const companyName = config.companyName;

const {lang} = Astro.params;
const translations = lang === "es" ? es : es;
---

<Layout title="Inicio" lang={lang} translations={translations}>
  <div class="mt-20 md:mt-0">
    <Hero />
  </div>

  <div class="mt-40 md:mt-10">
    <Section1 />
    <Section2 />
    <Section3 />
    <Section4 />
    <Numbers />
  </div>
</Layout>
