---
import {config} from "../config/config.ts";
import type {LayoutProps} from "../types/LayoutProps";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlueLink from "../components/BlueLink.astro";

const companyName = config.companyName;
const {title, description}: LayoutProps = Astro.props;
---

<html lang="es" class="light h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || "Page Description"} />
    <title>{companyName}{" | " + title ?? companyName}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="font-sans bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white flex flex-col min-h-screen"
  >
    <Header title={title} />
    <main class="flex-grow mx-auto container md:mb-10">
      <slot />
    </main>
    <Footer />
    <BlueLink />

    <style>
      /* Estilos de transición */
      .fade-in {
        opacity: 0;
        animation: fadeIn 0.5s forwards;
      }

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      .fade-out {
        opacity: 1;
        animation: fadeOut 0.2s forwards;
      }

      @keyframes fadeOut {
        to {
          opacity: 0;
        }
      }
    </style>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const body = document.body;

        // Agrega la clase de fade-in al cargar la página
        body.classList.add("fade-in");

        // Escucha los enlaces para agregar la clase de fade-out antes de navegar
        document.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", (e) => {
            e.preventDefault(); // Evita la navegación inmediata
            body.classList.remove("fade-in");
            body.classList.add("fade-out");

            // Espera a que termine la animación antes de ir a la nueva página
            setTimeout(() => {
              window.location.href = link.href;
            }, 200); // Duración de la animación (en ms)
          });
        });
      });
    </script>
  </body>
</html>
